body {
    display: block;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: lightskyblue;
    left: 0;
    top: 50%;
    transform: translateY(-10%) translateX(35%);
    border-radius: 50%;
}

.vertical-text {
    left: 10px;
    top: 50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(600%) translateX(3%) rotate(-90deg);
    transform-origin: left center;
    font-size: 26px;
    white-space: nowrap;
}



.imgofme img {
    height: 320px;
    width: 240px;
    left: 0;
    top: 50%;
    transform: translateY(-105%) translateX(21%);
}

.white-rectangle {
    left: 0;
    top: 50%;
    width: 100%;
    height: 30px;
    transform: translateY(calc(-33% + 193px));
    background-color: white;
}

.About-Me-Text {
    position: absolute;
    left: calc(120px + 21%);
    top: 60%;
    transform: translateY(-105%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
